.card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  .card {
    display: flex;
    width: 230px;
    height: 120px;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgb(162, 243, 31);
    transition: all 0.2s ease;
    .users {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nums {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50px;
        justify-content: space-between;
      }
      .icon {
        background-color: rgb(192, 192, 246);
        width: 39px;
        height: 39px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
      }
    }

    .count {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .card:hover {
    width: 240px;
    height: 130px;
    cursor: pointer;
  }
}
