.a-wrapper {
  width: 56%;
  height: 300px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: "10px";
  .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto";
    width: 65%;
    color: rgb(133, 129, 129);
  }
  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 65%;
    height: 200px;
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      width: 162px;
      height: 80px;
      padding: 7px;
      border-radius: 6px;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 0px 8px;
      .box-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-family: Roboto;
      }
    }
  }
}
