.header {
  width: 77%;
  margin: 0 auto;
  height: 70px;
  margin-top: 30px;
  position: fixed;
  right: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99999999;
  .inputs {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .search {
      box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
      background-color: white;
      width: 220px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 50px;
      padding: 6px;
      border-radius: 5px;
      .i {
        height: 100%;
        width: 85%;
        border: none;
      }
      .i:focus {
        outline: none;
      }
      .avator {
        width: 33px;
        height: 33px;
        border-radius: 50%;
      }
      .names {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
